
h1 {
  padding-top : 10px;
  text-shadow: 2px 4px 3px black;
  font-family: "Techno";
  color: whitesmoke;

}

h2 {
  text-shadow: 2px 4px 3px black;
  font-size: 2rem;
  margin-left: 0.5rem;
  font-family: "Atlas";
  color: whitesmoke;
}

p {
  font-family: "Atlas";
  color: whitesmoke;
  font-size: 1.5rem;
}
